a {
    cursor: pointer;
    margin-left: 15px;
}

.col {
    text-align: left;
}

.col-5 {
    text-align: left;
}

.form-check {
    text-align: left;
}

.btn-center {
    text-align: center;
}

.formOperation {
    text-align: left;
    margin-bottom: 35px;
}