<section class="content">
    <div class="title-caixa">
        <h1>
            CONTROLE DE SAÍDA
        </h1>
    </div>
    <div class="jumbotron welcome-jumbotron">

        <div class="formOperation">
            <a> <i [routerLink]="['/caixa']" class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div class="col-12">
            <hr>
        </div>
        <form [formGroup]="formCaixaSaida">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group form-check containerCheckmark container">
                            <label class="container containerCheckmark button-container">
                                Contas à pagar
                                <input type="checkbox" checked="checked" (change)="fixedAccount()"
                                    formControlName="fixedAccount">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-1">
                </div>
                <div class="col">
                    <!-- <div *ngIf="!selectAccountControl" class="form-group">
                        <label for="exampleInputPassword1">Operação</label>
                        <input formControlName="descricaoConta" type="text" class="form-control" id="exampleInputPassword1" placeholder="Descrição">
                    </div> -->
                    <div *ngIf="!selectAccountControl">
                        <label for="exampleFormControlSelect1">Selecione o item</label>
                        <select formControlName="itemSelecionado" class="form-control" id="exampleFormControlSelect1">
                            <option value="" disabled selected>selecione</option>
                            <option value="{{ items.idPagamentos }}" *ngFor="let items of selectView">
                                {{ items.descricao }}</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="col" *ngIf="!selectAccountControl">
                    <label for="exampleInputEmail1">Valor</label>
                    <input type="number" formControlName="valor" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Valor da operação">
                </div> -->
                <div class="col-1">

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <div class="btn-center">
                        <button (click)="insertSaidaCaixa()" type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>