<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../../assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Diego C. Conceição</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- Sidebar Menu data-widget="tree" -->
        <ul class="sidebar-menu">
            <li class="header">Menu - CRM</li>
            <!-- Optionally, you can add icons to the links -->
            <li routerLinkActive="active" class="treeview">
                <a [routerLink]="['caixa']"><i class="fa fa-money"></i><span>Caixa</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <li routerLinkActive="active" class="treeview">
                <a [routerLink]="['conta-controle']"><i class="fa fa-credit-card"></i> <span>Contas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-inbox"></i> <span>Estoque</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active"><a [routerLink]="['estoque']"> <i class="fa fa-list-alt"></i>
                            Controle</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['estoque/fornecedor']"> <i
                                class="fa fa-address-card-o"></i> Fornecedor</a></li>
                </ul>
            </li>
            <li routerLinkActive="active" class="treeview">
                <a [routerLink]="['controle-bancario']"><i class="fa fa-building-o"></i> <span>Banco</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>