<!-- Button trigger modal -->
<button type="button" class="{{ buttonClassCss }}" data-toggle="modal" data-target="#modalAddItem">
    {{ buttonModalName }}
</button>

<!-- Modal -->
<div class="modal fade" id="modalAddItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title-caixa">
                    <h3 class="modal-title">&nbsp; CADASTRO DE CONTAS
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Selecione a operação</label>
                                <select class="form-control" id="formControlOperacao">
                                    <option value="1">conta a pagar</option>
                                    <option value="2">conta a receber</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Desrição*</label>
                                <input type="text" class="form-control" id="formControlDescricaoAdd"
                                    aria-describedby="emailHelp" placeholder="EX: Conta de luz">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Data de vencimento*</label>
                                <input type="date" class="form-control" id="formControlData"
                                    aria-describedby="formControlData">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Valor*</label>
                                    <input type="number" class="form-control" id="formControlValor"
                                        aria-describedby="emailHelp" placeholder="EX: 120.00">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">

                        </div>
                        <div class="col-sm">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fechar</button>
                    <button type="button" class="btn btn-primary" (click)="submitCadastrContas()">salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>