<section class="content">
    <div class="title-caixa">
        <h1>CAIXA</h1>
    </div>
    <div class="jumbotron welcome-jumbotron">
        <div class="row">
            <div class="col">
                <div class="formOperation">
                    <label for="exampleInputPassword1">Operação</label>
                    <form [formGroup]="formOperation">
                        <select class="form-control" (change)="operationControl()" formControlName="operation">
                            <option value="" disabled selected>Selecione a operação</option>
                            <option value="1">Entrada</option>
                            <option value="2">Saida</option>
                        </select>

                    </form>
                </div>
            </div>
            <div class="col">
            </div>

            <div class="col">
                <!-- Apply any bg-* class to to the info-box to color it -->
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa fa-money"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Valor Atual</span>
                        <span class="info-box-number">R$ + 512,00</span>
                        <!-- The progress section is optional -->
                        <div class="progress">
                            <div class="progress-bar" style="width: 22.7%"></div>
                        </div>
                        <span class="progress-description">
                            +5% da meta mensal atingida
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <div class="col-12">
            <hr>
        </div>
        <div class="container confirmDelete" *ngIf="confirmDelete">
            <div class="row">
                <div class="col-sm">
                    <div class="delete-mensage-icon">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="delete-mensage">
                        Realmente deseja deletar?
                    </div>
                </div>
                <div class="col-sm">
                    <div class="margin-buutons">
                        <button type="button" class="btn btn-success"
                            (click)="responseConfirmDelete(true)">confirma</button>
                        &nbsp;
                        <button type="button" class="btn btn-secondary"
                            (click)="responseConfirmDelete(false)">cancela</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>
                Fluxo diário
            </h2>
            <div class="table-responsive table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Descrição da operação</th>
                            <th scope="col">Operação</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let items of tableView">
                        <tr>
                            <th scope="row">{{ items.idCaixa }}</th>
                            <td>{{ items.descricao }}</td>
                            <td>{{ items.operacao }}</td>
                            <td>R$ {{ items.valor }}</td>
                            <td>
                                <!-- <button type="button" class="btn btn-secondary">✏️</button> -->
                                &nbsp; &nbsp;
                                <label class="optionSelectDelet">
                                    <button type="button"
                                        (click)="deleteContaItem(items.idCaixa, items.quantidade, items.idProduto)"
                                        class="btn btn-danger">X</button> &nbsp;
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>