a {
    cursor: pointer;
}

h2 {
    text-align: left;
}

.optionSelectEdit {
    cursor: pointer;
}

.optionSelectDelet {
    cursor: pointer;
}

.btn-right {
    margin-top: 25px;
    text-align: center;
}

.confirmDelete {
    background: rgba(175, 91, 76, 0.7);
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: rgb(48, 37, 37);
    border-radius: 5px;
    margin-bottom: 20px;
    border-style: outset;
    border-width: 1px;
    border-color: rgb(212, 230, 236);
    text-transform: initial;
}

.margin-buutons {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.delete-mensage {
    margin-top: 7px;
    text-align: left;
}

.delete-mensage-icon {
    margin-top: 7px;
    text-align: right;
}

.confirmDelete:hover {
    top: -300px;
}