<!-- Button trigger modal -->
<button type="button" class="{{ buttonClassCss }}" data-toggle="modal" data-target="#modalAddItem">
    {{ buttonModalName }}
</button>

<!-- Modal -->
<div class="modal fade" id="modalAddItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title-caixa">
                    <h3 class="modal-title">&nbsp; Cadastrar novo item
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group search-itens">
                            <div class="search-itens-margin">
                                <label for="exampleInputEmail1">Buscar itens</label>
                                <div class="input-group">
                                    <input type="text" id="searchAddItem" class="form-control"
                                        aria-describedby="emailHelp" placeholder="EX: Fita 2m">
                                    <span class="input-group-addon" (click)="searchItemsProvider()">
                                        <i class="fa fa-search" style="background:transparent;border:none"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="negativeMensageSearch" class="feedback-mensage-modal-negative">
                            Nada encontrado
                        </div>
                        <div *ngIf="positiveMensageSearch" class="feedback-mensage-modal-positive">
                            Item encontrado
                        </div>
                        <div class="form-group select-itens">
                            <div class="search-itens-margin">
                                <label for="exampleFormControlSelect1">Selecione o item</label>
                                <select class="form-control" id="selectItemStorage" (click)="selectionStorageItem()">
                                    <option value="" disabled selected>selecione</option>
                                    <option *ngFor="let item of itemSelect" value="{{ item.idProdutoFornecedor }}">
                                        {{ item.descricao }}</option>
                                </select>
                                <div class="msgInput" *ngIf="controlMensageValidator.selectionStorageItem">
                                    Campo obrigatório
                                </div>
                                <small>Use o buscador de itens</small>
                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Valor de venda (UNT)</label>
                            <input type="number" class="form-control" id="value" (keyup)="validatorValue()"
                                aria-describedby="emailHelp" placeholder="Descrição do item">
                            <div class="msgInput" *ngIf="controlMensageValidator.validatorValue">
                                Campo obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Quantidade</label>
                            <input type="number" class="form-control" id="amount" (keyup)="validatorAmount()"
                                aria-describedby="emailHelp" placeholder="Descrição do item">
                            <div class="msgInput" *ngIf="controlMensageValidator.validatorAmount">
                                Campo obrigatório
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" *ngIf="!buttonInsertStorage" data-dismiss="modal"
                        disabled>Save changes</button>

                    <button type="button" class="btn btn-primary" *ngIf="buttonInsertStorage"
                        (click)="saveItemStorage()" data-dismiss="modal">Save changes</button>
                </div>
            </div>

        </div>
    </div>
</div>