small {
    margin-left: 10px;
}

.feedback-mensage-modal-negative {
    background: rgba(231, 34, 34, 0.3);
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    text-align: center;
}

.feedback-mensage-modal-positive {
    color: rgb(221, 218, 218);
    background: rgb(79, 177, 103);
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    text-align: center;
}

.close {
    margin-right: 2rem;
    margin-top: 0.7rem;
}

.search-itens {
    background: rgba(76, 175, 80, 0.3);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    margin-bottom: -1px;
    mask-border-outset: 1px;
}

.select-itens {
    mask-border-outset: 1px;
    background: rgba(76, 175, 80, 0.3);
    border-style: solid;
    border-width: 1px;
    border-top: none;
    margin-bottom: -1px;
}

.search-itens-margin {
    margin: 10px 10px 10px 10px;
}

.input-group-addon {
    cursor: pointer;
}