<section class="content">
    <div class="title-caixa">
        <h1>FORNECEDOR</h1>
    </div>
    <div class="jumbotron welcome-jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <appweb-modal-add-fornecedor buttonModalName="➕ Adicionar novo fornecedor">
                    </appweb-modal-add-fornecedor>
                </div>
                <div class="col-sm">
                    <!--One of three columns-->
                </div>
                <form [formGroup]="searchProviderFormGroup">
                    <div class="col-sm">
                        <div class="input-group">
                            <input type="text" formControlName="search" id="search" class="form-control"
                                aria-describedby="emailHelp" placeholder="Busca fornecedor">
                            <span (click)="searchProvide()" class="input-group-addon cursorPoiterTrue" method="post">
                                <button>
                                    <i class="fa fa-search" style="background:transparent;border:none"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Linha de marcação -->
        <div class="col-12">
            <hr>
        </div>

        <div class="container confirmDelete" *ngIf="confirmDelete">
            <div class="row">
                <div class="col-sm-4">
                    <div class="delete-mensage-icon">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="delete-mensage">
                        Realmente deseja deletar?
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="margin-buutons">
                        <button type="button" (click)="deleteConfirmMensage(true)"
                            class="btn btn-success">confirma</button>
                        &nbsp;
                        <button type="button" (click)="deleteConfirmMensage(false)"
                            class="btn btn-secondary">cancela</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Mensagem de confirmação de delete-->

        <div class="table-responsive table-hover">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Contato</th>
                        <th scope="col">Título</th>
                        <th scope="col">Taxa de juros</th>
                        <th scope="col">Data Registro</th>
                        <th scope="col">Itens</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableViewFornecedor;">
                        <th scope="row">{{ item.idFornecedor }}</th>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.contato }}</td>
                        <td>{{ item.tituloPortador }}</td>
                        <td>{{ item.taxaJuros }}</td>
                        <td>{{ item.dataRegistro }}</td>
                        <td>
                            <button class="btn btn-dark"
                                [routerLink]="['/estoque/fornecedor/itens', item.idFornecedor]">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button
                                [routerLink]="['/estoque/fornecedor/edit', item.idFornecedor, item.nome, item.contato, item.tituloPortador, item.taxaJuros, item.dataRegistro ]"
                                class="btn btn-secondary">
                                ✏️
                            </button>
                            &nbsp; &nbsp;
                            <label class="optionSelectDelet">
                                <button class="btn btn-sm btn-danger mr-2"
                                    (click)="onDeleteProvider(item.idFornecedor)">X</button>
                                &nbsp;
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>