small {
    color: black
}

input {
    border-radius: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-color: #81DAF5;
}

.jumbotron {
    text-align: left;
    margin-top: 200px;
}

.content-wrapper {
    background-color: black;
}

.jumbotron {
    opacity: 0.5;
    color: black;
    border: 20px solid #2eb9ce;
    border-width: 5px;
    border-style: solid;
    border-color: #2eb9ce;
    border-radius: 15px;
    border-color: cadetblue;
    width: 50%;
    margin: 0 auto;
    margin-top: 250px;
}

.btnRight {
    text-align: right;
}

.btn-primary {
    border-radius: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
    background: #e2e2e2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
    /* IE6-9 */
    color: black;
}