<div class="container">
    <div class="jumbotron welcome-jumbotron" id="login" (mouseover)="opacyLoginControl()">
        <form [formGroup]="formLogin" (ngSubmit)="login()">

            <div class="form-group">
                <label for="exampleInputEmail1">Usuário*</label>
                <div class="input-group">
                    <input type="text" formControlName="user" id="user" class="form-control"
                        aria-describedby="emailHelp" placeholder="Usuário" (keyup)="validateUserForm()">
                    <span class="input-group-addon">
                        <i class="fa fa-users" style="background:transparent;border:none"></i>
                    </span>
                </div>
                <div class="msgInput" *ngIf="mensageInputControl.userInputMensageControl">
                    Campo obrigatório
                </div>
                <small class="form-text text-muted">Nunca forneça suas credênciais para ninguém.</small>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Senha*</label>

                <div class="input-group">
                    <input type="password" formControlName="password" id="password" (keyup)="validatePasswordForm()"
                        class="form-control" placeholder="Password">
                    <span class="input-group-addon">
                        <i class="fa fa-lock" style="background:transparent;border:none"></i>
                    </span>
                </div>
                <div class="msgInput" *ngIf="mensageInputControl.passwordInputMensageControl">
                    Campo obrigatório
                </div>
            </div>

            <div class="form-check">
                <input type="checkbox" formControlName="checkbox" class="form-check-input">
                <label class="form-check-label" for="exampleCheck1"> &nbsp; Manter logado</label>
            </div>

            <div class="btnRight"
                *ngIf="mensageInputControl.passwordInputMensageControl || mensageInputControl.userInputMensageControl">
                <button type="submit" class="btn btn-primary" disabled>Entrar</button>
            </div>

            <div class="btnRight"
                *ngIf="!mensageInputControl.passwordInputMensageControl && !mensageInputControl.userInputMensageControl">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </form>
    </div>
</div>