<section class="content">
    <div class="title-caixa">
        <h1>Bem vindo</h1>
    </div>
    <div class="jumbotron welcome-jumbotron">
        <h2>Resumo geral</h2>
        <div class="row">
            <div class="col">
                <!-- Apply any bg-* class to to the info-box to color it -->
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-dropbox"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Resume de itens em estoque</span>
                        <span class="info-box-number">250</span>
                        <!-- The progress section is optional -->
                        <div class="progress">
                            <div class="progress-bar" style="width: 30%"></div>
                        </div>
                        <span class="progress-description">
                            -70% nos ultimos 30 dias
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col">
                <!-- Apply any bg-* class to to the info-box to color it -->
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Balanço Anual</span>
                        <span class="info-box-number">+ {{ valorAnual }}</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                            +10% nos ultimos 30 dias
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col">
                <!-- Apply any bg-* class to to the info-box to color it -->
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-money"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Custo Fixo</span>
                        <span class="info-box-number">30%</span>
                        <!-- The progress section is optional -->
                        <div class="progress">
                            <div class="progress-bar" style="width: 30%"></div>
                        </div>
                        <span class="progress-description">
                            +7% nos ultimos 30 dias
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col">
                <!-- Apply any bg-* class to to the info-box to color it -->
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa fa-money"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Custo com funcionários</span>
                        <span class="info-box-number">22.7%</span>
                        <!-- The progress section is optional -->
                        <div class="progress">
                            <div class="progress-bar" style="width: 22.7%"></div>
                        </div>
                        <span class="progress-description">
                            +5% nos ultimos 30 dias
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>


        <div class="row ">
            <div class="col table-responsive table-hover">
                <canvas id="myChart-1" width="400" height="200"></canvas>
            </div>
            <div class="col table-responsive table-hover">
                <canvas id="myChart-2" width="400" height="200"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h2>
                    &nbsp;Ranking vendas
                </h2>
                <div class="table-responsive table-hover">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">quantidade</th>
                                <th scope="col">Valor Vendido</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let items of ranking">
                            <tr>
                                <th scope="row"></th>

                                <td>{{ items.descricao }}</td>
                                <td>{{ items.quantidade_caixa }}</td>
                                <td>{{ items.vendas }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm">
                <h2>
                    &nbsp;Ranking itens +
                </h2>
                <div class="table-responsive table-hover">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">quantidade</th>
                                <th scope="col">Valor Vendido</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let items of rankingItensMais">
                            <tr>
                                <th scope="row"></th>

                                <td>{{ items.descricao }}</td>
                                <td>{{ items.quantidade_caixa }}</td>
                                <td>{{ items.vendas }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm">
                <h2>
                    &nbsp; Itens em falta
                </h2>
                <div class="table-responsive table-hover">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">quantidade</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let items of itemsEmFalta">
                            <tr>
                                <th scope="row"></th>
                                <td>{{ items.descricao }}</td>
                                <td>{{ items.quantidade_caixa }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>