<!-- Modelo do corpo dos componentes -->
<section class="content">
    <div class="title-caixa">
        <h1>TITULO PG</h1>
    </div>

    <div class="jumbotron welcome-jumbotron">
    </div>
</section>