<!-- Button trigger modal -->
<button type="button" class="{{ buttonClassCss }}" data-toggle="modal" data-target="#modalAddFornecedor">
    {{ buttonModalName }}
</button>

<!-- Modal -->
<div class="modal fade" id="modalAddFornecedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title-caixa">
                    <h3 class="modal-title">&nbsp; Cadastrar novo fornecedor
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nome*</label>
                                <input (keyup)="formControlNameAdd()" type="text" class="form-control"
                                    id="formControlNameAdd" aria-describedby="emailHelp"
                                    placeholder="EX: Alisson de Almeida">
                                <div class="msgInput" *ngIf="mensageRequireControl.name">
                                    Campo obrigatório
                                </div>
                                <div class="msgInput" *ngIf="mensageLengh">
                                    Maior que 3 caracteres
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Título do portador*</label>
                                <input (keyup)="formControlTitleAdd()" type="text" class="form-control"
                                    id="formControlTitleAdd" aria-describedby="emailHelp" placeholder="EX: APB322AA">
                                <div class="msgInput" *ngIf="mensageRequireControl.title">
                                    Campo obrigatório
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Taxa de juros*</label>
                                <input (keyup)="formControlPercentAdd()" type="number" class="form-control"
                                    id="formControlPercentAdd" aria-describedby="emailHelp" placeholder="EX: 0 - 100">
                                <div class="msgInput" *ngIf="mensageRequireControl.percent">
                                    Campo obrigatório
                                </div>
                                <div class="msgInput" *ngIf="mensageTax">
                                    TAXA: 0% - 100%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Telefone*</label>
                                <input (keyup)="formControlPhoneAdd()" type="text" class="form-control"
                                    id="formControlPhoneAdd" aria-describedby="emailHelp"
                                    placeholder="EX: (41)995250000)">
                                <div class="msgInput" *ngIf="mensageRequireControl.phone">
                                    Campo obrigatório
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <!--One of three columns-->
                        </div>
                        <div class="col-sm">
                            <!--One of three columns-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <button type="button" (click)="inputRegisterProvider()" *ngIf="buttonDisabledControl"
                        class="btn btn-primary" data-dismiss="modal">Save changes</button>

                    <button type="button" *ngIf="!buttonDisabledControl" disabled class="btn btn-primary"
                        data-dismiss="modal">Save
                        changes</button>
                </div>


            </div>

        </div>
    </div>
</div>