/* You can add global styles to this file, and also import other style files */

body {
    color: #555;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
    margin-left: 5px;
    font-family: Gill Sans Extrabold, sans-serif;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 40px;
}

.formOperation {
    margin-left: 15px;
    text-align: left;
    margin-bottom: 25px;
}

.msgInput {
    color: red;
}

.title-caixa {
    color: white;
    background-color: cadetblue;
    border-radius: 0px 200px 0px 0px;
    -moz-border-radius: 0px 200px 0px 0px;
    -webkit-border-radius: 0px 200px 0px 0px;
    border: 0px solid #000000;
}

.overlay-center {
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}

.imgLogo {
    width: 30x;
    height: 30px;
    margin-top: -4px;
}

.iconMenu {
    width: 30x;
    height: 30px;
}

.box-header {
    color: inherit;
}

/*-------------------------------------------------- Create a custom checkbox --------------------------------------------------------*/

.checkmark {
    margin-top: 3px;
    border-radius: 7px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.containerCheckmark:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.containerCheckmark input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.containerCheckmark input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkmark {
    margin-top: 3px;
    border-radius: 7px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.form-check {
    text-align: left;
}

/* The container for checkbox */

.containerCheckmark {
    display: block;
    width: 320px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.containerCheckmark input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.containerCheckmark .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button-container {
    background: #EFFBEF;
    background-image: -webkit-linear-gradient(top, #EFFBEF, #CEF6E3);
    background-image: -moz-linear-gradient(top, #EFFBEF, #CEF6E3);
    background-image: -ms-linear-gradient(top, #EFFBEF, #CEF6E3);
    background-image: -o-linear-gradient(top, #EFFBEF, #CEF6E3);
    background-image: linear-gradient(to bottom, #EFFBEF, #CEF6E3);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button-container:hover {
    background: #CEF6E3;
    background-image: -webkit-linear-gradient(top, #CEF6E3, #EFFBEF);
    background-image: -moz-linear-gradient(top, #CEF6E3, #EFFBEF);
    background-image: -ms-linear-gradient(top, #CEF6E3, #EFFBEF);
    background-image: -o-linear-gradient(top, #CEF6E3, #EFFBEF);
    background-image: linear-gradient(to bottom, #CEF6E3, #EFFBEF);
    text-decoration: none;
}

/*-------------------------------------------------- Create a custom checkbox END--------------------------------------------------------*/

/*
     * Component: Place Info Box
     * -------------------
*/

.place-info-box {
    color: #555;
    display: block;
    min-height: 120px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.place-info-box small {
    font-size: 14px;
}

.place-info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}

.place-info-box .progress, .place-info-box .progress .progress-bar {
    border-radius: 0;
}

.place-info .progress .progress-bar {
    background: #fff;
}

.place-info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    /*height: 120px;*/
    width: 120px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

.place-info-box-icon>img {
    max-width: 100%;
    /*border-right: 1px solid rgba(0, 0, 0, 0.1);*/
}

.place-info-box-content {
    padding: 5px 10px;
    margin-left: 120px;
}

.place-info-box-detail {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    width: 100%;
}

.place-info-box-text {
    display: block;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 80%;
    float: left
}

.place-info-box-star {
    display: block;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    width: 20%;
    float: right;
}

.place-info-box-more {
    display: block;
}

.progress-description {
    margin: 0;
}

/*
     * Component: Menu Item
     * -------------------
     */

.menu-item-info-box {
    color: #555;
    display: block;
    min-height: 120px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.menu-item-info-box small {
    font-size: 14px;
}

.menu-item-info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}

.menu-item-info-box .progress, .menu-item-info-box .progress .progress-bar {
    border-radius: 0;
}

.menu-item-info .progress .progress-bar {
    background: #fff;
}

.menu-item-info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    /*height: 120px;*/
    width: 120px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

.menu-item-info-box-icon>img {
    max-width: 100%;
    /*border-right: 1px solid rgba(0, 0, 0, 0.1);*/
}

.menu-item-info-box-price {
    font-weight: bold;
    margin-right: 20px;
    font-size: 16px;
}

.menu-item-info-box-content {
    padding: 5px 10px;
    margin-left: 120px;
}

.menu-item-info-box-content a {
    cursor: pointer;
}

.menu-item-info-box-detail {
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
}

.menu-item-info-box-text {
    display: block;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 80%;
}

.menu-item-info-box-more {
    display: block;
}

/**
     buttons
    */

.danger {
    color: #dd4b39;
    display: inline;
}

/*Jumbotrons*/

.jumbotron {
    background-color: #fff;
    text-align: center;
}

.jumbotron h2 {
    font-size: 40px;
}

.welcome-jumbotron h1 {
    margin-bottom: 60px;
}

.welcome-jumbotron p {
    margin-bottom: 60px;
    font-size: 30px;
}

/* inputs */

.fancy-radio {
    position: absolute;
    opacity: 0;
}

/*Review*/

.review-score {
    font-size: 30px;
    font-weight: bold;
}

/*rstaurant detail*/

.detail-footer {
    padding: 0px
}

.detail-footer>a {
    text-align: center;
    font-size: 16px;
    color: #555;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.detail-footer>a:hover {
    outline: none;
    text-decoration: none;
}

.detail-active {
    border-bottom: 2px solid #dd4b39;
}

.has-error-block {
    color: #dd4b39;
}

/* Barra de busca de restaurantes */

.search-link {
    cursor: pointer;
    color: #555;
}

.search-link:hover {
    color: #dd4b39;
}

.search-bar {
    opacity: 0;
    max-height: 0px;
}