<!-- Modelo do corpo dos componentes -->
<section class="content">
    <div class="title-caixa">
        <h1>EDIÇÃO DE FORNECEDOR</h1>
    </div>

    <div class="jumbotron welcome-jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome*</label>
                        <input (keyup)="formControlNameEdit()" value="{{ name }}" type="text" class="form-control"
                            id="formControlNameEdit" aria-describedby="emailHelp" placeholder="EX: Alisson de Almeida">
                        <div class="msgInput" *ngIf="mensageRequireControl.name">
                            Campo obrigatório
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Título do portador*</label>
                        <input (keyup)="formControlTitleEdit()" type="text" value="{{ title }}" class="form-control"
                            id="formControlTitleEdit" aria-describedby="emailHelp" placeholder="EX: APB322AA">
                        <div class="msgInput" *ngIf="mensageRequireControl.title">
                            Campo obrigatório
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Taxa de juros*</label>
                        <input (keyup)="formControlPercentEdit()" value="{{ percent }}" type="number"
                            class="form-control" id="formControlPercentEdit" aria-describedby="emailHelp"
                            placeholder="EX: 1%">
                        <div class="msgInput" *ngIf="mensageRequireControl.percent">
                            Campo obrigatório
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Telefone*</label>
                        <input (keyup)="formControlPhoneEdit()" value="{{ phone }}" type="text" class="form-control"
                            id="formControlPhoneEdit" aria-describedby="emailHelp" placeholder="EX: (41)995250000)">
                        <div class="msgInput" *ngIf="mensageRequireControl.phone">
                            Campo obrigatório
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <!--One of three columns-->
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-secondary" (click)="resetModal()"
                        [routerLink]="['/estoque/fornecedor']" data-dismiss="modal">cancelar</button>
                    &nbsp;&nbsp;
                    <button type="button" (click)="updateProvider()" *ngIf="buttonDisabledControl"
                        class="btn btn-primary" data-dismiss="modal">confirma</button>

                    <button type="button" *ngIf="!buttonDisabledControl" disabled class="btn btn-primary"
                        data-dismiss="modal">confirmar</button>
                </div>
            </div>
        </div>

    </div>
</section>