<!-- Button trigger modal -->
<button type="button" class="{{ buttonClassCss }}" data-toggle="modal" data-target="#modalAddItemFornecedor">
    {{ buttonModalName }}
</button>

<!-- Modal -->
<div class="modal fade" id="modalAddItemFornecedor" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title-caixa">
                    <h3 class="modal-title">&nbsp; Adicionar item fornecedor
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Descrição</label>
                                <input type="text" class="form-control" (keyup)="formControlDescription()"
                                    id="formControlDescription" aria-describedby="emailHelp"
                                    placeholder="EX: Fio de cobre">
                                <div class="msgInput" *ngIf="require.description">
                                    Campo obrigatório
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Número do documento</label>
                                <input type="text" (keyup)="formControlDocnumber()" class="form-control"
                                    id="formControlDocnumber" aria-describedby="emailHelp" placeholder="EX: 1A253040">
                                <div class="msgInput" *ngIf="require.docNumber">
                                    Campo obrigatório
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Valor de compra</label>
                                <input type="number" (keyup)="formControlBuyValue()" class="form-control"
                                    id="formControlBuyValue" aria-describedby="emailHelp" placeholder="EX: 12,5">
                                <div class="msgInput" *ngIf="require.purchaseValue">
                                    Campo obrigatório
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" *ngIf="buttonControl" (click)="inputItemProvider()" class="btn btn-primary">Save changes</button>
                    <button type="button" disabled *ngIf="!buttonControl" class="btn btn-primary">Save changes</button>
                </div>
            </div>

        </div>
    </div>
</div>