<!-- Button trigger modal -->
<button type="button" class="{{ buttonClassCss }}" data-toggle="modal" data-target="#modalAddItem">
    {{ buttonModalName }}
</button>

<!-- Modal -->
<div class="modal fade" id="modalAddItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title-caixa">
                    <h3 class="modal-title">&nbsp; NOME DO TITULO DO MODAL
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Example select</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>A pagar</option>
                                    <option>A Receber</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Título do portador*</label>
                                <input (keyup)="formControlTitleAdd()" type="text" class="form-control"
                                    id="formControlTitleAdd" aria-describedby="emailHelp" placeholder="EX: APB322AA">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Taxa de juros*</label>
                                <input (keyup)="formControlPercentAdd()" type="number" class="form-control"
                                    id="formControlPercentAdd" aria-describedby="emailHelp" placeholder="EX: 0 - 100">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-body">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>

        </div>
    </div>
</div>