<!-- Modelo do corpo dos componentes -->
<section class="content">
    <div class="title-caixa">
        <h1>CONTROLE DE FLUXO BANCÁRIO</h1>
    </div>

    <div class="jumbotron welcome-jumbotron">
        <div class="row">

            <div class="col-sm">
                <div class="btn-add-item">
                    <appweb-fluxo-modal modalTitle="Adicionar Conta" buttonModalName="➕ Adicionar Fluxo">
                    </appweb-fluxo-modal>
                </div>
            </div>
            &nbsp;
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="input-group">
                    <input type="date" id="search" class="form-control" aria-describedby="emailHelp"
                        placeholder="Busca item em estoque">
                    <span class="input-group-addon" (click)="searchFluxo()">
                        <button> <i class="fa fa-search" style="background:transparent;border:none"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>

        <div class="col-12">
            <hr>
        </div>
        <div class="container confirmDelete" *ngIf="confirmDelete">
            <div class="row">
                <div class="col-sm">
                    <div class="delete-mensage-icon">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="delete-mensage">
                        Realmente deseja deletar?
                    </div>
                </div>
                <div class="col-sm">
                    <div class="margin-buutons">
                        <button type="button" (click)="responseConfirmDelete(true)"
                            class="btn btn-success">confirma</button>
                        &nbsp;
                        <button type="button" (click)="responseConfirmDelete(false)"
                            class="btn btn-secondary">cancela</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive table-hover">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Operação</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Data da operação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let items of tableView">
                        <th scope="row">{{ items.idBank}}</th>
                        <td>{{ items.descricao }}</td>
                        <td>R$ {{ items.valor }}</td>
                        <td>{{ items.data }}</td>
                        <td>
                            <button type="button"
                                [routerLink]="['/controle-bancario/editar', items.idBank, items.descricao, items.valor]"
                                class="btn btn-secondary">✏️</button>
                            &nbsp; &nbsp;
                            <label class="optionSelectDelet">
                                <button type="button" (click)="deleteFluxoItem(items.idBank)"
                                    class="btn btn-danger">X</button> &nbsp;
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>