<div class="col-12">
    <hr>
</div>

<div class="table-responsive table-hover">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição da operação</th>
                <th scope="col">Valor</th>
                <th scope="col">Operação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Instalação de resistência</td>
                <td>R$ 70,00</td>
                <td>Entrada</td>
                <td>
                    <label class="optionSelectEdit">
                        <i class="fa fa-edit"></i>
                    </label>
                    &nbsp; &nbsp;
                    <label class="optionSelectDelet">
                        X &nbsp;
                    </label>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Fiação do prédio FamilyLar</td>
                <td>R$ 1024,24</td>
                <td>Entrada</td>
                <td>
                    <label class="optionSelectEdit">
                        <i class="fa fa-edit"></i>
                    </label>
                    &nbsp; &nbsp;
                    <label class="optionSelectDelet">
                        X &nbsp;
                    </label>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>30 Metros de fio de cobre 9 MM</td>
                <td>R$ 80,00</td>
                <td>Saída</td>
                <td>
                    <label class="optionSelectEdit">
                        <i class="fa fa-edit"></i>
                    </label>
                    &nbsp; &nbsp;
                    <label class="optionSelectDelet">
                        X &nbsp;
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</div>