<!-- Modelo do corpo dos componentes -->
<section class="content">
    <div class="title-caixa">
        <h1>ITENS FORNECEDOR</h1>
    </div>
    <div class="jumbotron welcome-jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="formOperation">
                        <a> <i [routerLink]="['/estoque/fornecedor']" class="fa fa-arrow-circle-left fa-3x"></i></a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="formOperation">
                        <div class="col-sm">
                            <appweb-modal-add-itens-fornecedor buttonModalName="➕ Adicionar novo item"
                                motalTitle="Adicionar itens fornecedor" idFornecedor="{{ idFornecedor }}">
                            </appweb-modal-add-itens-fornecedor>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <form [formGroup]="searchItemProviderFormGroup">
                        <div class="input-group">
                            <input type="text" formControlName="search" id="search" class="form-control"
                                aria-describedby="emailHelp" placeholder="Busca fornecedor">
                            <span (click)="searchItemProvider()" class="input-group-addon cursorPoiterTrue"
                                method="post">
                                <button>
                                    <i class="fa fa-search" style="background:transparent;border:none"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12">
            <hr>
        </div>
        <div class="container confirmDelete" *ngIf="confirmDeleteMensage">
            <div class="row">
                <div class="col-sm">
                    <div class="delete-mensage-icon">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="delete-mensage">
                        Realmente deseja deletar?
                    </div>
                </div>
                <div class="col-sm">
                    <div class="margin-buutons">
                        <button type="button" class="btn btn-success" (click)="confirmDelete(true)">confirma</button>
                        &nbsp;
                        <button type="button" class="btn btn-secondary" (click)="confirmDelete(false)">cancela</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive table-hover">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Número do documento</th>
                        <th scope="col">Valor de compra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tableItemView of tableViewItemsProvider">
                        <th scope="row">{{ tableItemView.idProdutoFornecedor }}</th>
                        <td>{{ tableItemView.descricao }}</td>
                        <td>{{ tableItemView.numeroDocumento }}</td>
                        <td>{{ tableItemView.valorCompra }}</td>
                        <td>
                            <label class="optionSelectEdit">
                                <button type="button" class="btn btn-secondary"
                                    [routerLink]="['/estoque/fornecedor/itens-edit', tableItemView.idProdutoFornecedor, 
                                         idFornecedor, tableItemView.descricao, tableItemView.numeroDocumento, tableItemView.valorCompra ]">
                                    ✏️
                                </button>
                            </label>
                            &nbsp; &nbsp;
                            <label class="optionSelectDelet">
                                <button type="button"
                                    (click)="openMesageConfirmDelete(tableItemView.idProdutoFornecedor)"
                                    class="btn btn-danger">X</button> &nbsp;
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>