<!-- Modelo do corpo dos componentes -->
<section class="content">
    <div class="title-caixa">
        <h1>Editar item fornecedor</h1>
    </div>
    <div class="jumbotron welcome-jumbotron">
        <form [formGroup]="editItemProviderFormGroup">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Descrição</label>
                            <input value="{{ descricao }}" type="text" class="form-control"
                                (keyup)="formControlDescription()" id="formControlDescription"
                                formControlName="formControlDescription" aria-describedby="emailHelp"
                                placeholder="EX: Fio de cobre">
                            <div class="msgInput" *ngIf="require.description">
                                Campo obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Número do documento</label>
                            <input value="{{ numeroDocumento }}" type="text" (keyup)="formControlDocnumber()"
                                class="form-control" id="formControlDocnumber" aria-describedby="emailHelp"
                                placeholder="EX: 1A253040" formControlName="formControlDocnumber">
                            <div class="msgInput" *ngIf="require.docNumber">
                                Campo obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Valor de compra</label>
                            <input value="{{ valorCompra }}" type="number" (keyup)="formControlBuyValue()"
                                class="form-control" id="formControlBuyValue" aria-describedby="emailHelp"
                                placeholder="EX: 12,5" formControlName="formControlBuyValue">
                            <div class="msgInput" *ngIf="require.purchaseValue">
                                Campo obrigatório
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        [routerLink]="['/estoque/fornecedor/itens', idFornecedor]"
                        data-dismiss="modal">cancelar</button>
                    <button type="button" *ngIf="buttonControl" (click)="updateItemProvider()"
                        class="btn btn-primary">salvar</button>
                    <button type="button" disabled *ngIf="!buttonControl" class="btn btn-primary">salvar</button>
                </div>
            </div>
        </form>
    </div>
</section>