<!-- Modelo do corpo dos componentes -->
<section class="content">
    <div class="title-caixa">
        <h1>ITEM DE ESTOQUE</h1>
    </div>

    <div class="jumbotron welcome-jumbotron">
        <form [formGroup]="editStorageItemFormGroup">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group select-itens">
                        <div class="search-itens-margin">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Nome do item</label>
                                    <input type="number" class="form-control" id="number" disabled
                                        aria-describedby="emailHelp" placeholder="{{ descricao }}">
                                    <small>Para editar o nome do item va até o menu fornecedor</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="col-sm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Valor de venda (UNT)</label>
                        <input type="number" value="{{ valorUnt }}" class="form-control" formControlName="value"
                            id="value" (keyup)="validatorValue()" aria-describedby="emailHelp"
                            placeholder="Descrição do item">
                        <div class="msgInput" *ngIf="controlMensageValidator.validatorValue">
                            Campo obrigatório
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Quantidade</label>
                        <input type="number" value="{{ quantidade }}" class="form-control" id="amount"
                            (keyup)="validatorAmount()" aria-describedby="emailHelp" formControlName="quantidade"
                            placeholder="Descrição do item">
                        <div class="msgInput" *ngIf="controlMensageValidator.validatorAmount">
                            Campo obrigatório
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [routerLink]="['/estoque']" type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" *ngIf="!buttonInsertStorage" data-dismiss="modal"
                    disabled>Save changes</button>

                <button type="button" class="btn btn-primary" *ngIf="buttonInsertStorage" (click)="updateStorageItem()"
                    data-dismiss="modal">Save changes</button>
            </div>
        </form>
    </div>
</section>