<!-- Modelo do corpo dos componentes -->
<section class="content">
    <div class="title-caixa">
        <h1>EDIÇÃO CONTA</h1>
    </div>

    <div class="jumbotron welcome-jumbotron">
        <form [formGroup]="formGroupConta">
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Selecione a operação</label>
                            <select class="form-control" formControlName="formControlOperacao">
                                <option value="1">conta a pagar</option>
                                <option value="2">conta a receber</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Desrição*</label>
                            <input type="text" class="form-control" formControlName="formControlDescricao"
                                aria-describedby="emailHelp" placeholder="EX: Conta de luz">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Data de vencimento*</label>
                            <input type="date" class="form-control" formControlName="formControlData"
                                aria-describedby="formControlData">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Valor*</label>
                                <input type="number" class="form-control" formControlName="formControlValor"
                                    aria-describedby="emailHelp" placeholder="EX: 120.00">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">

                    </div>
                    <div class="col-sm">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [routerLink]="['/conta-controle']" type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="salvarEdicao()"
                    data-dismiss="modal">salvar</button>
            </div>
        </form>
    </div>
</section>