<!-- Modelo do corpo dos componentes -->
<section class="content">
    <div class="title-caixa">
        <h1>TITULO PG</h1>
    </div>

    <div class="jumbotron welcome-jumbotron">
        <form [formGroup]="formGroupFluxo">
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Selecione a opção*</label>
                            <select class="form-control" formControlName="formControlOperacao">
                                <option value="1">Entrada</option>
                                <option value="2">Saída</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Valor*</label>
                            <input type="number" class="form-control" formControlName="formControlValor"
                                aria-describedby="emailHelp" placeholder="EX: 12,50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [routerLink]="['/controle-bancario']" type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateFluxo()"
                    data-dismiss="modal">salvar</button>
            </div>
        </form>
    </div>
</section>