<section class="content">
    <div class="title-caixa">
        <h1>
            CONTROLE DE ENTRADA
        </h1>
    </div>
    <div class="jumbotron welcome-jumbotron">
        <div class="formOperation">
            <a> <i [routerLink]="['/caixa']" class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div class="col-12">
            <hr>
        </div>
        <form [formGroup]="formCaixaEntrada">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group form-check containerCheckmark container">
                            <label class="containerCheckmark button-container container">
                                Itens em estoque
                                <input type="checkbox" checked="checked" (change)="storageItensControl()"
                                    formControlName="storageItens">

                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm">
                        <!--One of three columns-->
                    </div>
                    <div class="col-sm">
                        <!-- One of three columns-->
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-1">

                </div>
                <div class="col">
                    <div *ngIf="!selectItensStorageControl" class="form-group">
                        <label for="exampleInputPassword1">Contas a receber</label>
                        <select class="form-control" (click)="validatorSelectItemConta()" id="selectItemConta"
                            formControlName="selectItemConta">
                            <option value="" disabled selected>selecione</option>
                            <option value="{{ items.idPagamentos }}" *ngFor="let items of selectViewContas">
                                {{ items.descricao }}</option>
                        </select>
                        <div class="msgInput" *ngIf="controlMensageRequire.operation">
                            Campo obrigatório
                        </div>
                    </div>
                    <div *ngIf="selectItensStorageControl">
                        <label for="exampleFormControlSelect1">Itens de estoque</label>
                        <select class="form-control" (click)="validatorSelectItemStorage()" id="selectItemStorage"
                            formControlName="selectItemStorage">
                            <option value="" disabled selected>selecione</option>
                            <option value="{{ items.idProdutoFornecedor }}" *ngFor="let items of selectViewEstoque">
                                {{ items.descricao }}</option>
                        </select>
                        <div class="msgInput" *ngIf="controlMensageRequire.storageItens">
                            Campo obrigatório
                        </div>
                    </div>
                </div>
                <div class="col" *ngIf="selectItensStorageControl">
                    <label for="exampleInputEmail1">Quantidade</label>
                    <input type="number" class="form-control" id="itensQuantity" aria-describedby="emailHelp"
                        placeholder="Quantidade de itens" formControlName="itensQuantity"
                        (keyup)="validatorQuantityItems()">
                    <div class="msgInput" *ngIf="controlMensageRequire.quantity">
                        Campo obrigatório
                    </div>
                    <div class="rightSmall">
                        <small>A quantidade será multiplicado pelo valor</small>
                    </div>
                </div>
                <div class="col-1">

                </div>
            </div>

            <br />
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <div class="btn-center">
                        <button type="submit" class="btn btn-primary" (click)="insertEntradaCaixa()">Enviar</button>
                    </div>
                    <!-- <div class="btn-center">
                        <button type="submit" class="btn btn-primary" *ngIf="!buttonDisabledControl"
                            disabled>Enviar</button>
                    </div> -->
                </div>
            </div>

        </form>
    </div>
</section>