<!-- Modelo do corpo dos componentes -->
<section class="content">
    <div class="title-caixa">
        <h1>CONTAS</h1>
    </div>

    <div class="jumbotron welcome-jumbotron">
        <div class="row">

            <div class="col-sm">
                <div class="btn-add-item">
                    <appweb-contas-modal modalTitle="Adicionar Conta" buttonModalName="➕ Adicionar Conta">
                    </appweb-contas-modal>
                </div>
            </div>
            &nbsp;
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" aria-describedby="emailHelp"
                        placeholder="Busca item em estoque">
                    <span class="input-group-addon" (click)="buscaConta()">
                        <button> <i class="fa fa-search" style="background:transparent;border:none"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>

        <div class="col-12">
            <hr>
        </div>

        <div *ngIf="mensagemConfirmDelte" class="container confirmDelete">
            <div class="row">
                <div class="col-sm">
                    <div class="delete-mensage-icon">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="delete-mensage">
                        Realmente deseja deletar?
                    </div>
                </div>
                <div class="col-sm">
                    <div class="margin-buutons">
                        <button type="button" (click)="responseDeleteMensage(true)"
                            class="btn btn-success">confirma</button>
                        &nbsp;
                        <button type="button" (click)="responseDeleteMensage(false)"
                            class="btn btn-secondary">cancela</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive table-hover">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Tipo de operação</th>
                        <th scope="col">Data de vencimento</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableView">
                        <th scope="row">{{ item.idPagamentos }}</th>
                        <td>{{ item.descricao }}</td>
                        <td>{{ item.descMov }}</td>
                        <td>{{ item.dataVencimento }}</td>
                        <td>{{ item.valor }}</td>
                        <td>{{ item.status }} </td>
                        <td>
                            <button type="button"
                                [routerLink]="['/conta-controle/editar', item.idPagamentos, item.descricao, item.descMov, item.dataVencimento, item.valor, item.status]"
                                class="btn btn-secondary">✏️</button>
                            &nbsp; &nbsp;
                            <label class="optionSelectDelet">
                                <button type="button" (click)="deleteContaItem(item.idPagamentos)"
                                    class="btn btn-danger">X</button> &nbsp;
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>