<section class="content">
    <div class="title-caixa">
        <h1>ESTOQUE</h1>
    </div>

    <div class="jumbotron welcome-jumbotron">
        <div class="row">

            <div class="col-sm">
                <div class="btn-add-item">
                    <appweb-modal-add-item motalTitle="Editar / Cadastrar " buttonModalName="➕ Adicionar Item">
                    </appweb-modal-add-item>
                </div>
            </div>
            &nbsp;
            <div class="col-sm">
                <!-- 
                    <button type="button" class="btn btn-outline-primary">➕ Adicionar Fornecedor</button>
                -->
            </div>
            <div class="col-sm">
                <form [formGroup]="formGroupSearch">
                    <div class="input-group">
                        <input formControlName="search" type="text" id="search" class="form-control"
                            aria-describedby="emailHelp" placeholder="Busca item em estoque">
                        <span class="input-group-addon" (click)="searchStorageItem()">
                            <button> <i class="fa fa-search" style="background:transparent;border:none"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <!-- Linha de marcação -->
        <div class="col-12">
            <hr>
        </div>
        <div class="container confirmDelete" *ngIf="confirmDeleteMensage">
            <div class="row">
                <div class="col-sm">
                    <div class="delete-mensage-icon">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="delete-mensage">
                        Realmente deseja deletar?
                    </div>
                </div>
                <div class="col-sm">
                    <div class="margin-buutons">
                        <button type="button" class="btn btn-success"
                            (click)="responseDeleteMensage(true)">confirma</button>
                        &nbsp;
                        <button type="button" class="btn btn-secondary"
                            (click)="responseDeleteMensage(false)">cancela</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive table-hover">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição do produto</th>
                        <th scope="col">Valor UNT</th>
                        <th scope="col">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableView">
                        <th scope="row">{{ item.idProduto }}</th>
                        <td>{{ item.descricao }}</td>
                        <td>R$ {{ item.valorUnt }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>
                            <button type="button" class="btn btn-secondary"
                                [routerLink]="['/estoque/edit-item', item.idProduto, item.quantidade, item.descricao, item.valorUnt]">✏️</button>
                            &nbsp; &nbsp;
                            <label class="optionSelectDelet">
                                <button type="button" (click)="deleteStorageItem(item.idProduto)"
                                    class="btn btn-danger">X</button> &nbsp;
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>