<div class="wrapper">
  <div *ngIf="openMenu">
    <appweb-header></appweb-header>
    <appweb-sidebar></appweb-sidebar>
  </div>

  <div class="content-wrapper">
    <div *ngFor="let message of messages" class="alert alert-danger" role="alert">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      {{message.text}}
      <!--Mensagem de erro-->
      <label class="closeMsgErroLogin" (click)="closeErroLoginUser()">&nbsp; X &nbsp;</label>
    </div>
    <router-outlet></router-outlet>
  </div>

  <footer class="main-footer" *ngIf="openMenu">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>CRM - Brasil</strong> | Angular Application
  </footer>
</div>