.alert-danger {
    opacity: 0.8;
    text-align: center;
}

.closeMsgErroLogin {
    margin-left: 10px;
    cursor: pointer;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    background-color: #D8D8D8;
    color: black;
}