<div class="container confirmDelete">
    <div class="row">
        <div class="col-sm">
            <div class="delete-mensage-icon">
                <i class="fa fa-exclamation-circle"></i>
            </div>
        </div>
        <div class="col-sm">
            <div class="delete-mensage">
                Realmente deseja deletar?
            </div>
        </div>
        <div class="col-sm">
            <div class="margin-buutons">
                <button type="button" class="btn btn-success">confirma</button>
                &nbsp;
                <button type="button" class="btn btn-secondary">cancela</button>
            </div>
        </div>
    </div>
</div>